/* .block {
    margin: 10px auto ;
    display: flex;    
    justify-content: center;           
    max-width: 1200px;           
}
.people {
    display: inline;
    margin: 5px;
    width: 500px; 
    height: 100px;   
    font-size: 18px;
    border: 3px solid rgb(37, 33, 33, 0.521);
    text-align: left;
    animation: show_1 3s ease;
}

.people>span {
    padding-left: 30%;
    display: block; 
    width: 100%;
    margin: 0 auto;
   }

   img {
    width: 15px;
    height: 15px;
    margin-left: 5px;
   } */
   @media (max-width: 767px) {
    contacts{
        width:50%;
    }
   }